<ons-page id="about-page">
    <ons-toolbar>
        <div class="left">
            <ons-back-button></ons-back-button>
        </div>
        <div class="center">Over deze App</div>
    </ons-toolbar>
    <div style="padding: 10px;">
        <h1>Over deze App</h1>
        <p>
            Interactieve kaart met rustpunten in utrecht. De app bevat ook een offline kaartje zodat je de app ook offline kan gebruiken.
        </p>
        <p>
            De website versie van deze app kun je ook offline gebruiken wanneer je de app toevoegt aan het startscherm. Dit werkt alleen voor android en de laatste versies van safari.
        </p>
        <p>
            Een rustpunt (herkenbaar aan het rustpuntbord) tref je aan op een particulier erf, langs een wandel- of fietsroute 
            en meestal in het buitengebied gelegen. Bij een rustpunt kun je pauzeren, iets drinken, naar het toilet en je elektrische 
            fiets weer opladen of repareren.
        </p>
        <a target="_system" href="https://data.overheid.nl/data/dataset/9c11ae79-f14d-45bb-9c0c-9420c47f9bea">Dataset</a>
        <br>
        <a target="_system" href="https://esstudio.site/contact/">Contact opnemen met de ontwikkelaar</a>
        <br>
        <a target="_system" href="https://esstudio.site">Website van de ontwikkelaar</a>
        <br>
        <a target="_system" href="https://echosierrastudio.github.io/EchoSierraStudio/privacy-policy.html">Privacy Policy</a>
        <div>Icons made by <a href="http://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
    </div>
</ons-page>